samples/ai-loan-agent-sample/LogicApps/LoanApprovalAgent/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Loan_Agent": {
                "type": "Agent",
                "inputs": {
                    "parameters": {
                        "deploymentId": "gpt-4.1",
                        "messages": [
                            {
                                "role": "system",
                                "content": "You are an AI Agent responsible for evaluating loan applications using the company’s risk and eligibility policies. \n\nConsider the company policy, customer credit score, risk profile, and any exception criterion to make final decsion. Do not make assumptions and use different tools available to you to get required data to make decisions. Customers are not required to have an existing account with the bank\n\nFollow the rules below to make a decision and escalate to a human when the loan cannot be approved automatically. Those scenarios where human should be looped in are defined in the company policy document."
                            },
                            {
                                "role": "user",
                                "content": "This is the SSN and other customer details  - @{outputs('Application_Summary')}"
                            }
                        ],
                        "agentModelType": "AzureOpenAI",
                        "agentModelSettings": {
                            "deploymentModelProperties": {
                                "name": "gpt-4.1",
                                "format": "OpenAI",
                                "version": "2025-04-14"
                            }
                        }
                    },
                    "modelConfigurations": {
                        "model1": {
                            "referenceName": "agent"
                        }
                    }
                },
                "tools": {
                    "Notify_customer_": {
                        "actions": {
                            "Send_an_email_(V2)": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "OutlookConnection"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "@parameters('DemoUserEmail')",
                                        "Subject": "@agentParameters('Subject')",
                                        "Body": "<p class=\"editor-paragraph\">@{agentParameters('Body')}</p>",
                                        "Importance": "Normal"
                                    },
                                    "path": "/v2/Mail"
                                }
                            }
                        },
                        "description": "Notify customer about the loan approval decision and the next steps. ",
                        "agentParameterSchema": {
                            "type": "object",
                            "properties": {
                                "Subject": {
                                    "type": "string",
                                    "description": "The subject of the mail"
                                },
                                "Body": {
                                    "type": "string",
                                    "description": "The body of the mail to inform customer about the loan decision and the terms and conditions for it. Use wellformatted email in HTML"
                                }
                            },
                            "required": [
                                "Subject",
                                "Body"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Application_Summary": [
                        "SUCCEEDED"
                    ]
                },
                "limit": {
                    "count": 100
                }
            },
            "Get_response_details": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "MicrosoftFormsConnection"
                        }
                    },
                    "method": "get",
                    "path": "/formapi/api/forms('@{encodeURIComponent(parameters('FormsFormId'))}')/responses",
                    "queries": {
                        "response_id": "@triggerBody()?['resourceData']?['responseId']"
                    }
                },
                "runAfter": {}
            },
            "Application_Summary": {
                "type": "Compose",
                "inputs": {
                    "SSN": "@{body('Get_response_details')?[parameters('FormFieldId_SSN')]}",
                    "LoanAmount": "@{body('Get_response_details')?[parameters('FormFieldId_LoanAmount')]}",
                    "VehicleMake": "@{body('Get_response_details')?[parameters('FormFieldId_VehicleMake')]}",
                    "Salary": "@{body('Get_response_details')?[parameters('FormFieldId_Salary')]}",
                    "CreditScore": "@{body('Credit_check_API')?['CreditScore']}",
                    "Email": "@{body('Get_response_details')?['responder']}"
                },
                "runAfter": {
                    "Background_check_API": [
                        "SUCCEEDED"
                    ],
                    "Credit_check_API": [
                        "SUCCEEDED"
                    ],
                    "Employment_Verification_API": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Loan_post_processing_steps": {
                "type": "Workflow",
                "inputs": {
                    "host": {
                        "workflow": {
                            "id": "LoanPostProcessing"
                        }
                    },
                    "body": "@outputs('Loan_Agent')?['lastAssistantMessage']"
                },
                "runAfter": {
                    "Loan_Agent": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "DemoUserEmail": {
                "type": "string",
                "defaultValue": "demo@example.com"
            },
            "TeamsGroupId": {
                "type": "string"
            },
            "TeamsChannelId": {
                "type": "string"
            },
            "FormsFormId": {
                "type": "string",
                "defaultValue": "PUT_YOUR_FORM_ID_HERE"
            },
            "FormFieldId_SSN": {
                "type": "string",
                "defaultValue": "rXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
            },
            "FormFieldId_Name": {
                "type": "string",
                "defaultValue": "rXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
            },
            "FormFieldId_DateOfBirth": {
                "type": "string",
                "defaultValue": "rXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
            },
            "FormFieldId_Employer": {
                "type": "string",
                "defaultValue": "rXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
            },
            "FormFieldId_YearsWorked": {
                "type": "string",
                "defaultValue": "rXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
            },
            "FormFieldId_Salary": {
                "type": "string",
                "defaultValue": "rXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
            },
            "FormFieldId_LoanAmount": {
                "type": "string",
                "defaultValue": "rXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
            },
            "FormFieldId_VehicleMake": {
                "type": "string",
                "defaultValue": "rXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
            }
        },
        "triggers": {
            "When_a_new_response_is_submitted": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "MicrosoftFormsConnection"
                        }
                    },
                    "body": {
                        "eventType": "responseAdded",
                        "notificationUrl": "@listCallbackUrl()",
                        "source": "ms-connector"
                    },
                    "path": "/formapi/api/forms/@{encodeURIComponent(parameters('FormsFormId'))}/webhooks"
                },
                "splitOn": "@triggerBody()?['value']"
            }
        }
    },
    "kind": "Stateful"
}